<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% include head_content.html %}
    <link rel="stylesheet" href="{{ "css/asu_header.css" }}">
  </head>
  

  <body>

    <header>
      {% include header_content.html %}
    </header>

    <div class="page-content">
      {{ content }}
    </div>
    
    <footer>
      {% include footer_content.html %}
    </footer>

  <script type="text/javascript" src="{{ "js/asu_header.js" }}"></script>
  </body>

</html>
